body {
    background-image: linear-gradient(to right, rgba(1, 6, 38, 0.658), #815f8791);
    padding: 0 !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: small;
}

.my_avatar_photo {
    width: 100px;
    border-radius: 100px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card {
    width: 1300px;
    height: 500px;
    padding: 10px;
    margin: 30px 20px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background: rgb(169, 169, 169, 0.2);
    box-shadow: 0 4px 3px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    color: black;
    border: 2px solid rgb(169, 169, 169, 0.3);
}

.border-blue {
    border: 2px dotted blue;
}

.card2 {
    color: black;
    background: rgba(169, 169, 169, 0.2);
    box-shadow: 0 4px 3px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(169, 169, 169, 0.3);

    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card3 {
    color: black;
    background: rgb(169, 169, 169, 0.2);
    box-shadow: 0 4px 3px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(169, 169, 169, 0.3);

    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card4 {
    color: black;
    background: rgb(169, 169, 169, 0.2);
    box-shadow: 0 4px 3px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(169, 169, 169, 0.3);

    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card .links img {
     width: 20px;
     border-radius: 10px;
     padding: auto;
     margin: 0 1px;
}

.span {
    color: saddlebrown;
}

/* .navigate {
    display: flex;
    top: 0;
    justify-content: space-between;
    margin: 5px 10px;
} */

.hero {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 60px;
    height: 40px;
}

.nav_list {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
}

.nav_list li {
    float: left;
  }
  
.nav_list li a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
}

.nav_list li a:hover {
background-color: #8e8080;
}







