<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css')}}">
    </head>
    <body>
        <p> Hey there! I am Yash Vyas, a data scientist having about 2 years of experience. </p>
        <ul>
            <h4> Projects Exposure </h4>
            <li> Market Mixed Modelling </li>
            <li> Price Elasticity </li>
            <li> Text Analytics </li>
            <li> CNN with Pytorch soon....</li>
            <li> Recommendation Engine soon....</li>

            <h4> Tools </h4>
            <li> SAP </li>
            <li> Snowflake </li>
            <li> Flask </li>
        </ul>
    </body>
</html>