<!DOCTYPE html>
<html>
    <head>
        <title> Home Page </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <img class="avatar" src = "{{ url_for('static', filename='images/Yash_photo.png')}}"
                    alt="Yash Vyas smiling at the camera." >

                <div>
                    <h4> <span> Hey! I'm Yash Vyas </span> </h4>
                    <p> <span class="auto-type"></span> </p>
                    <!-- <h4> Bengaluru, India </h4> -->
                </div>

                <div class="links">
                    <a href="https://www.linkedin.com/in/yashvyas1405/"> <img src= "{{ url_for('static', filename='images/linkedin_photo.png')}}" ></a>
                    <a href="https://www.github.com/yashvyas1405/"> <img src= "{{ url_for('static', filename='images/Github_logo.png')}}" ></a>
                    <a href="https://www.kaggle.com/yashhvyass/"> <img src= "{{ url_for('static', filename='images/kaggle.png')}}" ></a>
                </div>

            </div>

            <div class="card2">
                <ul>
                    <li> Predict the price of the houses in California. <a href="work.html">  here.</a> </li>
                </ul>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
                var typed = new Typed(".auto-type", {
                    strings: ['Data Scientist', 'Sports Fanatic'],
                    typeSpeed:100,
                    backSpeed:50,
                    loop: true
                })
        </script>
    </body>
</html>