<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h2> California House Price Prediction</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Median Income in a block" placeholder="Median Income" required="required" /><br>
    	<input type="text" name="Median house age in a block" placeholder="Median Age of the house" required="required" /><br>
        <input type="text" name="Average number of rooms per house" placeholder="Average number of rooms" required="required" /><br>
        <input type="text" name="Average number of bedrooms per house" placeholder="Average number of bedrooms" required="required" /><br>
        <input type="text" name="Block's population" placeholder="Population" required="required" /><br>
        <input type="text" name="Average number of household members" placeholder="Average number of household members" required="required" /><br>
        <input type="text" name="Block's latitude" placeholder="Latitude" required="required" /><br>
        <input type="text" name="Block's longitude" placeholder="Longitude" required="required" /><br>
       
        <button type="submit" class="btn btn-primary btn-block btn-medium">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>