<!DOCTYPE html>
<html>
    <head>
        <title> Home Page </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css')}}">
    </head>
    <body>
        <div class="hero">
              <a href="home.html"> <img class="image" src="{{ url_for('static', filename='images/yash_logo.png')}}" > </a>

              <ul class="nav_list">
                <li><a href="home.html"> HOME </a></li>
                <li><a href="about.html"> ABOUT </a></li>
              </ul>
              
            </nav>
        </div>

        <div class="container">
            <div class="card">

                <div class="my_avatar">
                    <img class="my_avatar_photo" src = "{{ url_for('static', filename='images/Yash_photo.png')}}"
                        alt="Yash Vyas smiling at the camera." >
                        <br>
                        <h4> Yash Vyas <br> <span class="auto-type"></span> </h4>
                        <!-- <h4> Bengaluru, India </h4> -->
                </div>

                <div class="card2" data-tilt>
                    <h4> <center> Machine Learning </center></h4>
                    <ul>
                        <li> Predict the price of the houses in California. <a href="work.html">  here.</a> </li>
                    </ul>
                </div>

                <div class="card3" data-tilt>
                    <h4> <center> Natural Language Processing </center></h4>
                    <ul>
                        <li> Text Analytics coming soon....<a href="work.html">  here.</a> </li>
                    </ul>
                </div>

                <div class="card4" data-tilt>
                    <h4> <center> Convoluted Neural Networks  </center></h4>
                    <ul>
                        <li> Something with Pytorch coming soon....<a href="work.html">  here.</a> </li>
                    </ul>
                </div>

                <div class="links">
                    <a href="https://www.linkedin.com/in/yashvyas1405/" target="_blank" rel="noopener noreferrer"> <img src= "{{ url_for('static', filename='images/linkedin_photo.png')}}" ></a>
                    <a href="https://www.github.com/yashvyas1405/" target="_blank" rel="noopener noreferrer"> <img src= "{{ url_for('static', filename='images/Github_logo.png')}}" ></a>
                    <a href="https://www.kaggle.com/yashhvyass/" target="_blank" rel="noopener noreferrer"> <img src= "{{ url_for('static', filename='images/kaggle.png')}}" ></a>
                </div>

            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
                var typed = new Typed(".auto-type", {
                    strings: ['Data Scientist', 'Sports Fanatic'],
                    typeSpeed:100,
                    backSpeed:50,
                    loop: true
                })
        </script>

        <script src="static/images/vanilla-tilt.js"></script>
    </body>
</html>